* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0; 
    font-family: "futura-pt", Arial, Helvetica, sans-serif;
    font-weight: 400; 
    width: 100vw;
    height: 100vh;
    background-color:#fff; 
    color: #222; 
}

h1, h2, h3 {
    font-family: "adelle", "futura-pt", Arial, Helvetica, sans-serif; 
    font-weight: 400; 
}

.wrapper {
    width: 100%;
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;     
}

.to-top, .page-to-top {
    display: none;
    width: 100px; 
    position: relative;
    top: 0; 
    left: 0; 
}

.to-top img, .page-to-top img {
    width: 40px; 
    cursor: pointer;
}

.footer, .page-footer {
    display: inline-block; 
}

.footer span, .page-footer span {
    padding: 24px; 
}

.footer-line, .page-footer-line {
    width: 100%; 
    border-bottom: 1px solid gray; 
}


/*

 $$$$$$\   $$$$$$\   $$$$$$\         $$$$$$\  $$$$$$$\  $$$$$$\ $$$$$$$\  
$$  __$$\ $$  __$$\ $$  __$$\       $$  __$$\ $$  __$$\ \_$$  _|$$  __$$\ 
$$ /  \__|$$ /  \__|$$ /  \__|      $$ /  \__|$$ |  $$ |  $$ |  $$ |  $$ |
$$ |      \$$$$$$\  \$$$$$$\        $$ |$$$$\ $$$$$$$  |  $$ |  $$ |  $$ |
$$ |       \____$$\  \____$$\       $$ |\_$$ |$$  __$$<   $$ |  $$ |  $$ |
$$ |  $$\ $$\   $$ |$$\   $$ |      $$ |  $$ |$$ |  $$ |  $$ |  $$ |  $$ |
\$$$$$$  |\$$$$$$  |\$$$$$$  |      \$$$$$$  |$$ |  $$ |$$$$$$\ $$$$$$$  |
 \______/  \______/  \______/        \______/ \__|  \__|\______|\_______/ 

*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.grid-container > div {
    padding: 1em; 
}

.grid-container .menu {
    grid-column: 1/10;
}

.grid-container .ham-menu {
    grid-column: 8/10;
}


/* Forsiden */

 .grid-container .intro-img {
    grid-column: 5/10;
    grid-row: 2/6; 
} 

.grid-container .intro-video {
    grid-column: 9/10;
    grid-row: 5/7; 
    z-index: 1000;
}

.grid-container .intro-title {
    grid-column: 1/4;
    grid-row: 2/2; 
}

.grid-container .line {
    grid-column: 1/2;
    grid-row: 2/3; 
}

.grid-container .intro-text {
    grid-column: 1/4;
    grid-row: 3/6; 
}

.grid-container .scroll {
    grid-column: 5/6;
    grid-row: 6/7; 
}

.grid-container .slider-title {
    grid-column: 1/3;
    grid-row: 9/10; 
}

.grid-container .btn-container {
    grid-column: 7/10;
    grid-row: 8/9; 
}

.grid-container .slider-container {
    grid-column: 1/10;
    grid-row: 9/13; 
}

.grid-container .footer-line {
    grid-column: 1/10;
    grid-row: 13/14;
}

.grid-container .footer {
    grid-column: 1/10;
    grid-row: 14/15;
}

.grid-container .to-top {
    grid-column: 8/10;
    grid-row: 13/15;
}


/* Undersidene */

.grid-container .page-topImg {
    grid-column: 1/10;
    grid-row: 2/8; 
}

.grid-container .page-title {
    grid-column: 1/10;
    grid-row: 9/10;
}

.grid-container .page-intro-img-1 {
    grid-column: 2/3;
    grid-row: 11/13;
}
.grid-container .page-intro-img-2 {
    grid-column: 4/5;
    grid-row: 11/13;
}

.grid-container .page-click-img {
    grid-column: 2/3;
    grid-row: 13/14;
}

.grid-container .page-intro-text {
    grid-column: 6/9;
    grid-row: 11/13;
} 

.grid-container .page-title-2 {
    grid-column: 1/5;
    grid-row: 15/16;
} 

.grid-container .text-box-1 {
    grid-column: 1/3;
    grid-row: 16/19;
}

.grid-container .text-box-2 {
    grid-column: 1/3;
    grid-row: 21/24;
}

.grid-container .text-box-3 {
    grid-column: 1/3;
    grid-row: 26/29;
}

.grid-container .img-box-1 {
    grid-column: 4/10;
    grid-row: 16/19;
}

.grid-container .img-text-1 {
    grid-column: 4/10;
    grid-row: 19/20; 
}

.grid-container .img-box-2 {
    grid-column: 4/10;
    grid-row: 21/24;
}

.grid-container .img-text-2 {
    grid-column: 4/10;
    grid-row: 24/25;
}

.grid-container .img-box-3 {
    grid-column: 4/10;
    grid-row: 26/29;
}

.grid-container .img-text-3 {
    grid-column: 4/10;
    grid-row: 29/30;
}

.grid-container .page-to-top {
    grid-column: 8/10;
    grid-row: 25/26;
}

.grid-container .page-footer-line {
    grid-column: 1/10;
    grid-row: 30/31;
}

.grid-container .page-footer {
    grid-column: 1/10;
    grid-row: 31/32;
}

/*


$$\      $$\ $$$$$$$$\ $$\   $$\ $$\   $$\ 
$$$\    $$$ |$$  _____|$$$\  $$ |$$ |  $$ |
$$$$\  $$$$ |$$ |      $$$$\ $$ |$$ |  $$ |
$$\$$\$$ $$ |$$$$$\    $$ $$\$$ |$$ |  $$ |
$$ \$$$  $$ |$$  __|   $$ \$$$$ |$$ |  $$ |
$$ |\$  /$$ |$$ |      $$ |\$$$ |$$ |  $$ |
$$ | \_/ $$ |$$$$$$$$\ $$ | \$$ |\$$$$$$  |
\__|     \__|\________|\__|  \__| \______/ 
                                                                                

*/

.menu {  
    position: fixed; 
    top: 0; 
    right: 50px; 
    z-index: 1001;
    text-align: right; 
    background-color: rgba(255, 255, 255, 0.495); 
}

.menu ul, .ham-menu ul {
    list-style: none; 
    margin: 0;
    padding:0; 
}

.menu li, .ham-menu li {
    display: inline-block; 
}

.menu li a, .ham-menu li a {
    display: block; 
    color: #222;
    text-align: center;
    text-decoration: none;
    font-size: 18px; 
    padding: 16px;
}

.menu li a:hover:not(.current) {
    text-decoration: underline; 
} 

.menu .current {
    font-weight: 700; 
}

/* Byttes til hamburger menu ved 670px */

.ham-menu #my-links {
    display: none;
}

.ham-menu {
    display: none; 
    width: 100px; 
    position: relative;
    top: 0; 
    left: 0; 
}

#my-links {
    width: 800px;
    position: absolute; 
    top: 100px; 
    right: -50px; 
    z-index: 1005;
    padding: 24px;
    background-color: #fff; 
    border-bottom: 2px solid #222; 
}

.ham-menu li {
    display: block; 
    padding: 16px 0px;
    margin-left: 80px;  
}

.ham-close {
    display: none;
    width: 50px;
    position: relative;
    top: 10px; 
    left: 10px;  
}

.ham-close, .ham-icon, #my-links li a {
    cursor: pointer;
}

/* 

$$$$$$\ $$\   $$\ $$$$$$$$\ $$$$$$$\   $$$$$$\  
\_$$  _|$$$\  $$ |\__$$  __|$$  __$$\ $$  __$$\ 
  $$ |  $$$$\ $$ |   $$ |   $$ |  $$ |$$ /  $$ |
  $$ |  $$ $$\$$ |   $$ |   $$$$$$$  |$$ |  $$ |
  $$ |  $$ \$$$$ |   $$ |   $$  __$$< $$ |  $$ |
  $$ |  $$ |\$$$ |   $$ |   $$ |  $$ |$$ |  $$ |
$$$$$$\ $$ | \$$ |   $$ |   $$ |  $$ | $$$$$$  |
\______|\__|  \__|   \__|   \__|  \__| \______/ 
                                                                                           
*/


.intro-img {
    background-image: url(image/header.jpg); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: top center; 
    background-size: 100%; 
}

.intro-video {
    cursor: pointer;
    position: absolute; 
    top: 480px;
    right: 80px; 
    width: 200px;
    height: 160px; 
    background-image: url(image/video-img.jpg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    z-index: 1;
}

.intro-video img {
    margin-top: 20px; 
}

.intro-video .play {
    width: 50px; 
    position: absolute;
    top: 25%; 
    left: 40%; 
}

.intro-video:hover {
    transform: scale(1.1); 
    transition: .5s ease; 
}

#lofoten-video {
    position: relative;
    top: 0; 
}

#video-box {
    display: none;
    overflow: visible;
    position: fixed;
    top: 42%;
    left: 42%;
    width: 80%;
    max-width: 800px;
    max-height: 560px;
    margin-left: -300px;
    margin-top: -180px;
    z-index: 1003;
}
  
#boxclose {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: -290px; 
    top: -80px; 
    z-index: 1003;
}

#boxclose img {
    width: 50px;
    height: 50px;
}
  
#fade {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #222; 
    z-index: 1002;
    opacity: .90;
}

#fade:hover ~ #boxclose {
    display: none;
}

.scroll {
    height: 100px;
    position: relative;
    top: 30px; 
    border-left:1px solid #222; 
}

.scroll p {
    margin-top: -10px; 
}

.line {
    width: 50px;
    margin-left: 15px; 
    border-bottom: 1px solid #222; 
} 


/* 
 $$$$$$\  $$\       $$$$$$\ $$$$$$$\  $$$$$$$$\ $$$$$$$\  
$$  __$$\ $$ |      \_$$  _|$$  __$$\ $$  _____|$$  __$$\ 
$$ /  \__|$$ |        $$ |  $$ |  $$ |$$ |      $$ |  $$ |
\$$$$$$\  $$ |        $$ |  $$ |  $$ |$$$$$\    $$$$$$$  |
 \____$$\ $$ |        $$ |  $$ |  $$ |$$  __|   $$  __$$< 
$$\   $$ |$$ |        $$ |  $$ |  $$ |$$ |      $$ |  $$ |
\$$$$$$  |$$$$$$$$\ $$$$$$\ $$$$$$$  |$$$$$$$$\ $$ |  $$ |
 \______/ \________|\______|\_______/ \________|\__|  \__|
                                                                                                                                                                     

*/

.slider-title {
    position: relative;
}

.slider-title h1 {
    position: relative;
    left: 50px; 
    top: -50px; 
}

.slider-title img {
    width: 50px;
    position: absolute;
    top: -20px; 
}

.siema {
    margin: 1rem 0;
}

.siema p {
    padding: 0px 16px; 
}
  
.siema img {
    width: 100%; 
    padding: 16px; 
}

.btn-container {
    text-align: right; 
    margin-right: 10px; 
}

.prev, .next {
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    text-decoration: none;
    display: inline-block; 
    cursor: pointer;   
}

.prev {
    background-image: url(icons/arrow-left.svg);
    margin-left: 10px; 
}

.next {
    background-image: url(icons/arrow-right.svg);
}


/*

$$$$$$$\   $$$$$$\   $$$$$$\  $$$$$$$$\        $$$$$$\ $$$$$$$$\ $$\     $$\ $$\       $$$$$$$$\ 
$$  __$$\ $$  __$$\ $$  __$$\ $$  _____|      $$  __$$\\__$$  __|\$$\   $$  |$$ |      $$  _____|
$$ |  $$ |$$ /  $$ |$$ /  \__|$$ |            $$ /  \__|  $$ |    \$$\ $$  / $$ |      $$ |      
$$$$$$$  |$$$$$$$$ |$$ |$$$$\ $$$$$\          \$$$$$$\    $$ |     \$$$$  /  $$ |      $$$$$\    
$$  ____/ $$  __$$ |$$ |\_$$ |$$  __|          \____$$\   $$ |      \$$  /   $$ |      $$  __|   
$$ |      $$ |  $$ |$$ |  $$ |$$ |            $$\   $$ |  $$ |       $$ |    $$ |      $$ |      
$$ |      $$ |  $$ |\$$$$$$  |$$$$$$$$\       \$$$$$$  |  $$ |       $$ |    $$$$$$$$\ $$$$$$$$\ 
\__|      \__|  \__| \______/ \________|       \______/   \__|       \__|    \________|\________|
                                                                                                 

*/


.page-title {
    margin: 0 auto; 
    text-align: center; 
}

img.info, .text-info {
    position: absolute;
    top: 100px; 
    right: 80px;
}

img.info {
    width: 80px; 
    cursor: pointer;
}

.text-info {
    display: none; 
    width: 250px;
    height: 120px;
    background-color: rgba(128, 128, 128, 0.372);
}

.text-info p {
    padding: 16px; 
}


/* Overnatting */

.underline {
    width: 70px; 
    border-bottom: 1px solid grey; 
}

.page-intro-img-1, .page-intro-img-2 {
    width: 300px; 
}

.page-topImg.sleep {
    background-image: url(image/top-img-sleep.jpg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}

.img-box-1.sleep {
    background-image: url(image/rorbue.jpg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}

.img-box-2.sleep {
    background-image: url(image/hus.jpg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}

.img-box-3.sleep {
    background-image: url(image/telt.jpg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}


/* Attraksjoner */

.page-topImg.attraction {
    background-image: url(image/top-img-attr.jpg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}

.img-box-1.attraction {
    background-image: url(image/viking.jpg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: bottom center; 
}

.img-box-2.attraction {
    background-image: url(image/otter.jpg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}

.img-box-3.attraction {
    background-image: url(image/malleri.jpg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}


/* Aktiviteter */

.page-topImg.active {
    background-image: url(image/top-img-active.jpg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}

.img-box-1.active {
    background-image: url(image/fiske.jpg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}

.img-box-2.active {
    background-image: url(image/fjelltur.jpg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}

.img-box-3.active {
    background-image: url(image/hester.jpg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}


/* 

$$\      $$\  $$$$$$\  $$$$$$$\   $$$$$$\  $$\       
$$$\    $$$ |$$  __$$\ $$  __$$\ $$  __$$\ $$ |      
$$$$\  $$$$ |$$ /  $$ |$$ |  $$ |$$ /  $$ |$$ |      
$$\$$\$$ $$ |$$ |  $$ |$$ |  $$ |$$$$$$$$ |$$ |      
$$ \$$$  $$ |$$ |  $$ |$$ |  $$ |$$  __$$ |$$ |      
$$ |\$  /$$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |      
$$ | \_/ $$ | $$$$$$  |$$$$$$$  |$$ |  $$ |$$$$$$$$\ 
\__|     \__| \______/ \_______/ \__|  \__|\________|
                                                     
                                        
 */

.myImg {
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {
    opacity: 0.7;
}

.modal {
    display: none; 
    overflow: auto;
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    z-index: 9999999;
    padding-top: 100px; 
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    position: absolute;
    top: 20%; 
    left: 25%; 
    z-index: 999;  
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #fff; 
    padding: 70px 0;
    height: 150px;
}

.modal-content, #caption {  
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
  from {
      transform:scale(0)
    } 
  to {
      transform:scale(1)
    }
}

.close {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 30px;
    right: 35px;
    transition: 0.3s;
    display: inline-block;
    cursor: pointer;
    z-index: 9999;
}


/*

$$$$$$$\  $$$$$$$$\  $$$$$$\  $$$$$$$\   $$$$$$\  $$\   $$\  $$$$$$\  $$$$$$\ $$\    $$\ 
$$  __$$\ $$  _____|$$  __$$\ $$  __$$\ $$  __$$\ $$$\  $$ |$$  __$$\ \_$$  _|$$ |   $$ |
$$ |  $$ |$$ |      $$ /  \__|$$ |  $$ |$$ /  $$ |$$$$\ $$ |$$ /  \__|  $$ |  $$ |   $$ |
$$$$$$$  |$$$$$\    \$$$$$$\  $$$$$$$  |$$ |  $$ |$$ $$\$$ |\$$$$$$\    $$ |  \$$\  $$  |
$$  __$$< $$  __|    \____$$\ $$  ____/ $$ |  $$ |$$ \$$$$ | \____$$\   $$ |   \$$\$$  / 
$$ |  $$ |$$ |      $$\   $$ |$$ |      $$ |  $$ |$$ |\$$$ |$$\   $$ |  $$ |    \$$$  /  
$$ |  $$ |$$$$$$$$\ \$$$$$$  |$$ |       $$$$$$  |$$ | \$$ |\$$$$$$  |$$$$$$\    \$  /   
\__|  \__|\________| \______/ \__|       \______/ \__|  \__| \______/ \______|    \_/    
                                                                                         
                                                                                         
                                                                                        
*/

@media only screen and (max-width: 2560px) {

    .wrapper {
        max-width: 2400px;
    }

    .intro-img {
        background-position: center; 
    }

    .scroll {
        display: none; 
    }

    .page-click-img {
        position: relative;
        top: 20px; 
    }

    #video-box {
        top: 42%;
        left: 46%;
    }

    .modal-content {
        top: 30%; 
        left: 37%; 
    }
}


@media only screen and (max-width: 1440px) {

    .wrapper {
        max-width: 1280px; 
    }

    .scroll {
        display: block; 
    }

    #video-box {
        left: 42%;
    }
    
    #boxclose {
        right: -190px; 
    }

    .modal-content {
        top: 20%; 
        left: 25%; 
    }
}


@media only screen and (max-width: 1350px) {
    
    .menu {
        right: 0; 
    }

    img.info {
        right: 30px; 
    }

    .text-info {
        right: 0px; 
    }
}

@media only screen and (max-width: 1195px) {

    .grid-container .slider-title {
        grid-column: 1/6;
        grid-row: 9/10; 
    }

    #boxclose {
        right: -90px; 
    }

    .scroll{
        position: relative;
        top: 60px; 
    }
}

 
@media only screen and (max-width: 1160px) {

    .intro-video {
        top: 520px;
        right: 20px; 
    }

    .grid-container .scroll {
        grid-column: 5/6;
        grid-row: 5/6; 
    }

    .grid-container .page-intro-img-1 {
        grid-column: 4/5;
        grid-row: 10/12;
    }

    .grid-container .page-intro-img-2 {
        grid-column: 6/7;
        grid-row: 10/12;
    }
    
    .grid-container .page-click-img {
        grid-column: 4/6;
        grid-row: 14/15;
    }

    .page-click-img {
        position: relative;
        top: -160px; 
    }
    
    .grid-container .page-intro-text {
        grid-column: 4/7;
        grid-row: 13/15;
    } 

    .grid-container .page-title-2 {
        grid-column: 2/5;
        grid-row: 15/16;
    } 
    
    .grid-container .img-box-1 {
        grid-column: 5/10;
        grid-row: 16/19;
    }
    
    .grid-container .img-text-1 {
        grid-column: 5/10;
        grid-row: 19/20; 
    }

    .grid-container .text-box-1 {
        grid-column: 2/5;
        grid-row: 16/19;
    }

    .grid-container .img-box-2 {
        grid-column: 5/10;
        grid-row: 21/24;
    }
    
    .grid-container .img-text-2 {
        grid-column: 5/10;
        grid-row: 24/25;
    }

    .grid-container .text-box-2 {
        grid-column: 2/5;
        grid-row: 21/24;
    }
    
    .grid-container .img-box-3 {
        grid-column: 5/10;
        grid-row: 26/29;
    }
    
    .grid-container .img-text-3 {
        grid-column: 5/10;
        grid-row: 29/30;
    }

    .grid-container .text-box-3 {
        grid-column: 2/5;
        grid-row: 26/29;
    }
}


@media only screen and (max-width: 1025px) {

    .page-intro-text {
        width: 500px; 
    }

    .intro-video {
        top: 520px;
        right: 30px; 
    }

    .grid-container .slider-title {
        grid-column: 1/5;
        grid-row: 8/9; 
    }
    
    .grid-container .btn-container {
        grid-column: 7/10;
        grid-row: 7/8; 
    }
    
    .grid-container .slider-container {
        grid-column: 1/10;
        grid-row: 8/12; 
    }   

    .grid-container .footer-line {
        grid-column: 1/10;
        grid-row: 12/13;
    }
    
    .grid-container .footer {
        grid-column: 1/10;
        grid-row: 13/14;
    }

    .modal-content {
        left: 15%; 
    }

    .text-box-1, .text-box-2, .text-box-3 {
        width: 320px; 
    }
}

@media only screen and (max-width: 1010px) {

    .grid-container .intro-text {
        grid-column: 1/5;
        grid-row: 3/5; 
    }
    
    #video-box {
        top: 42%;
        left: 37%;
        width: 60%;
        max-width: 600px;
        max-height: 460px;
    }
      
    #boxclose {
        cursor: pointer;
        display: inline-block;
        position: absolute;
        right: -290px; 
        top: -80px; 
        z-index: 1003;
    }

    .scroll {
        display: none; 
    }
}


@media only screen and (max-width: 900px) {

    .intro-video {
        top: 550px;
        right: 20px; 
    }
}


/*


$$$$$$$$\  $$$$$$\   $$$$$$\                      
\____$$  |$$  __$$\ $$  __$$\                     
    $$  / $$ /  \__|$$ /  $$ | $$$$$$\  $$\   $$\ 
   $$  /  $$$$$$$\   $$$$$$  |$$  __$$\ \$$\ $$  |
  $$  /   $$  __$$\ $$  __$$< $$ /  $$ | \$$$$  / 
 $$  /    $$ /  $$ |$$ /  $$ |$$ |  $$ | $$  $$<  
$$  /      $$$$$$  |\$$$$$$  |$$$$$$$  |$$  /\$$\ 
\__/       \______/  \______/ $$  ____/ \__/  \__|
                              $$ |                
                              $$ |                
                              \__|                
                            

*/

@media only screen and (max-width: 768px) {

    p {
        font-size: 17px; 
    }

    .menu {  
        background-color: #fff; 
        right:0; 
    }

    .grid-container .intro-title {
        grid-column: 1/7;
        grid-row: 5/6; 
    }

    .grid-container .line {
        grid-column: 1/2;
        grid-row: 5/6; 
    }
    
    .grid-container .intro-text {
        grid-column: 1/7;
        grid-row: 6/8; 
    }

    .grid-container .intro-img {
        grid-column: 1/10;
        grid-row: 2/5; 
    } 

    .intro-img {
        width: 100%; 
        background-position: top; 
    } 

    .grid-container .intro-video {
        grid-column: 8/9;
        grid-row: 1/3; 
    }

    .intro-video {
        width: 200px;
        height: 200px; 
        position: relative;
    }

    .intro-video:hover {
        transform: scale(1); 
    }

    #video-box {
        top: 42%;
        left: 42%;
        width: 200px; 
        max-width: 200px;
        max-height: 200px;
        margin-left: -350px;
        margin-top: -180px;
    }
      
    #boxclose {
        right: -560px; 
        top: -45px; 
    }

    .grid-container .slider-title {
        grid-column: 1/5;
        grid-row: 9/10; 
    }

    .grid-container .slider-container {
        grid-column: 1/10;
        grid-row: 9/13; 
    }

    .grid-container .btn-container {
        grid-column: 7/10;
        grid-row: 8/9; 
    }

    .prev {
        margin-right: 70px; 
    }

    .grid-container .footer-line {
        grid-column: 1/10;
        grid-row: 13/14;
    }
    
    .grid-container .footer {
        grid-column: 1/10;
        grid-row: 14/15;
    }

    /* Undersidene */

    img.info, .text-info {
        display: none; 
    }

    .grid-container .page-topImg {
        grid-column: 1/5;
        grid-row: 2/8; 
    }

    .grid-container .page-title {
        grid-column: 5/10;
        grid-row: 3/4;
    }

    .grid-container .page-intro-text {
        grid-column: 6/9;
        grid-row: 4/6;
    } 

    .page-intro-text {
        width: 310px; 
    }

    .modal-content {
        width: 100%;
        left: 0; 
    }

    .page-intro-img-1,.page-intro-img-2 , .page-click-img {
      display: none; 
    }

    .grid-container .page-title-2 {
        grid-column: 1/5;
        grid-row: 9/10;
    } 

    .text-box-1, .text-box-2, .text-box-3 {
        width: 310px; 
    }
    
    .grid-container .text-box-1 {
        grid-column: 1/5;
        grid-row: 10/13;
    }

    .grid-container .text-box-2 {
        grid-column: 1/5;
        grid-row: 14/17;
    }
    
    .grid-container .text-box-3 {
        grid-column: 1/5;
        grid-row: 18/21;
    }
    
    .grid-container .img-box-1 {
        grid-column: 5/10;
        grid-row: 10/13;
    }
    
    .grid-container .img-box-2 {
        grid-column: 5/10;
        grid-row: 14/17;
    }
    
    .grid-container .img-box-3 {
        grid-column: 5/10;
        grid-row: 18/21;
    }

    .img-text-1, .img-text-2, .img-text-3 {
        display: none; 
     }

     .grid-container .page-footer-line {
        grid-column: 1/10;
        grid-row: 22/23;
    }    
     
    .grid-container .page-footer {
        grid-column: 1/10;
        grid-row: 23/24;
    }
}

@media only screen and (max-width: 730px) {

    .slider-title {
        display: none;
    }

    .grid-container .btn-container {
        grid-column: 2/6;
    }

    .btn-container {
        text-align: center; 
    }

    .prev {
        margin-right: 100px; 
    }
}

@media only screen and (max-width: 670px) {

    .menu, .underline {  
        display: none; 
    }
    
    .grid-container .intro-title {
        grid-column: 2/9;
        grid-row: 5/6; 
    }

    .line {
        display: none; 
    }

    .grid-container .intro-text {
        grid-column: 2/9;
        grid-row: 6/8; 
    }

    .intro-text {
        width: 430px; 
    }

    .intro-video {
        display: none; 
    }

    .page-topImg {
        display: none; 
    }

    .grid-container .page-title {
        grid-column: 2/4;
        grid-row: 2/3;
    }

    .grid-container .page-intro-text {
        grid-column: 2/8;
        grid-row: 3/5;
    }

    .page-title-2 {
        display: none; 
    }

    .page-intro-text, .text-box-1, .text-box-2, .text-box-3 {
        width: 400px; 
    }

    .grid-container .text-box-1 {
        grid-column: 2/9;
        grid-row: 9/12;
    }

    .grid-container .text-box-2 {
        grid-column: 2/9;
        grid-row: 16/19;
    }

    .grid-container .text-box-3 {
        grid-column: 2/9;
        grid-row: 23/25;
    }

    .grid-container .img-box-1 {
        grid-column: 2/9;
        grid-row: 6/9;
    }

    .grid-container .img-box-2 {
        grid-column: 2/9;
        grid-row: 13/16;
    }
    
    .grid-container .img-box-3 {
        grid-column: 2/9;
        grid-row: 20/23;
    }

    .grid-container .footer-line {
        grid-column: 1/10;
        grid-row: 14/15;
    }
    
    .grid-container .footer {
        grid-column: 1/10;
        grid-row: 15/16;
    }

    #my-links {
        top: 90px; 
    }

    .ham-menu #my-links li {
        margin-left: 140px; 
    }

    .ham-menu, .to-top, .page-to-top {
        display: block; 
    }

    .grid-container .page-footer-line {
        grid-column: 1/10;
        grid-row: 26/27;
    }    
     
    .grid-container .page-footer {
        grid-column: 1/10;
        grid-row: 27/28;
    }
}


@media only screen and (max-width: 500px){

    .ham-menu #my-links li {
        margin-left: 210px; 
    }
} 

@media only screen and (max-width: 425px) {

    .grid-container .text-box-1 {
        grid-column: 2/9;
        grid-row: 9/12;
    }

    .grid-container .text-box-2 {
        grid-column: 2/9;
        grid-row: 16/19;
    }

    .grid-container .text-box-3 {
        grid-column: 2/9;
        grid-row: 23/25;
    }
    
    .page-intro-text, .text-box-1, .text-box-2, .text-box-3,  .intro-text  {
        width: 300px; 
    }

    .ham-menu #my-links li {
        margin-left: 300px; 
    }
}

@media only screen and (max-width: 375px) {
 
    .grid-container .intro-img {
        grid-template-columns: repeat(1, 1fr);
        grid-column: 1/10;
    } 
}
